div.st-emotion-cache-0.eqpbllx5{
    border: 1px solid black;
    border-radius: .5rem;
    color: #000;
}
.st-emotion-cache-p5msec{
    color: #000;
}
div.st-emotion-cache-16idsys.e1nzilvr5{
    color: #fff;
}
button.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color: green;
    position: relative;
    border: 3px solid white;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 13px;
    margin-bottom: 15px;
}
section.main.st-emotion-cache-uf99v8.ea3mdgi5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgF0EzrzqZDYlMnH-PIG2hJtkeCLqf0WaueFsJUOk72A&s);
    background-size: cover;
}
.st-emotion-cache-16idsys p{
    margin-bottom: 0px;
    font-size: 16px;
    color:#E97451;
}
.st-emotion-cache-1vbkxwb p{
    text-align: center;
}
.st-emotion-cache-1xw8zd0{
    margin-bottom: 1rem;
    border-color: #fff;
}
div.row-widget.sButton{
    background-color: blue;
    display: block;
    width: 200px;
}
button.st-emotion-cache-7ym5gk.ef3psqc7{
    background-color: #023020;
    height: 20px;
    width: 75px;
    position: relative;
    border: 3px solid white;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
/*button.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color: rgb(0, 102, 255);
    position: relative;
    border: 3px solid white;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 13px;
    margin-bottom: 15px;
}*/
div.st-emotion-cache-5rimss.e1nzilvr5{
    color: red;
}
button.st-emotion-cache-13ejsyy.ef3psqc12{
    background-color: red;
    position: relative;
    border: 3px solid white;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 180px;
}
::-webkit-scrollbar {
    background: transparent;
    border-radius: 100px;
    height: 6px;
    width: 6px;
}
div.uploadedFileName.st-emotion-cache-1uixxvy.e1b2p2ww6{
    color: #fff;
}
summary.st-emotion-cache-p5msec.eqpbllx2{
    border-color: black;
}
.st-emotion-cache-16txtl3 h2{
    color: #fff;
    font-size: 20px;
}
.st-emotion-cache-1vbkxwb p{
    color: #fff;
}
.st-emotion-cache-x78sv8 p{
    color: #000;
}
.st-emotion-cache-1qg05tj{
    font-size: 20px;
    color: grey;
}
.st-emotion-cache-q8sbsg p{
    font-size: 20px;
}
button.st-emotion-cache-hc3laj.ef3psqc12{
    color: #fff;
    background-color: red;
    position: relative;
    border: 2px solid white;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}
button.st-emotion-cache-19rxjzo.ef3psqc12{
    background-color:#023020;
    position: relative;
    border: 1px solid white;

}
.st-emotion-cache-5rimss p{
    color: #000;
}
.st-cc{
    color: black;
    border: 1px solid black;
}
.st-emotion-cache-76z9jo{
    color: black;
    border: 1px solid black;
    border-radius: .5rem;
}
.st-emotion-cache-1gulkj5{
    border: 1px solid black;
}
div.uploadedFileName.st-emotion-cache-1uixxvy.e1b2p2ww6{
    color: black;
}
.st-emotion-cache-5rimss p{
    font-family: sans-serif;
    font-size: 18px;
}
/*.st-emotion-cache-5rimss p{
    color: #000;
    font-size: 17px;
    background: white;
    min-height: 30px;
    border-radius: .2rem;
    margin-right: 5px;
    text-align: center;
}

/*.js-plotly-plot .plotly .main-svg{
    border: 1px solid black;
}
